.full-menu-grid {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.searched-items-grid {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}