.testimonial {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.show {
    text-decoration: none;
    background: #F25019;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.testimonial-header {
    margin-bottom: 2rem;
}

.testimonial-header p {
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 500;
}

.testimonial-header h1 {
    font-size: 2rem;
    font-weight: 900;
}

.testimonial-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.testimonial-card {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    background-color: #FBF8F1;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.testimonial-card span {
    font-size: 2.5rem;
    color: #F4AFB3;
}

.testimonial-card p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.testimonial-card hr {
    width: 40px;
    margin: auto;
    color: black;
}

.testimonial-card img {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid pink;
}

.testimonial-card .testimonial-name {
    font-size: 0.9rem;
    font-weight: 400;
    color: black;
    transition: 0.3s;
    text-align: center;
}

.testimonial-card .testimonial-name:hover {
    color: pink;
}

.testimonial-footer h4{
    font-size: 1.25rem;
    font-weight: 900;
    margin-bottom: 3rem;
}

.testimonial-footer p {
    max-width: 450px;
    margin: auto;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.testimonial-footer button {
    /* padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: pink;
    background-color: #F25019;
    border-radius: 5px;
    cursor: pointer; */
    text-decoration: none;
    background: #F25019;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 5%;
    /* margin: auto; */
}

@media screen and (max-width: 1000px) {
    .testimonial-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}